<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROTAS PARA O FUTURO</title>

    <!-- CSS Externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alunos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- JS Externo -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body class="alunos">
    <nav class="navbar navbar-expand-lg navbar-light navbar-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">
          <img src="{{ url_for('static', filename='img/LOGO.png') }}" alt="Logo" width="250" height="50" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-2">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <header>
        <div id="title">
            <h1>ÁREA DE VISITAS</h1>
        </div>
        <ul>
            <li><a href="{{ url_for('home.home') }}">Voltar</a></li>
        </ul>
    </header>

    <main>
        <h2>Visitas Registradas</h2>
        <form method="GET" action="{{ url_for('visita.listar_visitas') }}" class="mb-4" id="pesquisar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar visitas..." name="pesquisa"
                    value="{{ request.args.get('pesquisar', '') }}">
                <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
            </div>
        </form>

        <div class="buttons">
            <!-- Botão Cadastro -->
            <input type="checkbox" id="modal-toggle" hidden>
            <div class="modal">
                <div class="modal-content">
                    <label for="modal-toggle" class="close">&times;</label>
                    <h2>Registro de Visita</h2>
                    <form class="cadastro" method="POST" enctype="multipart/form-data">
                        <label for="aluno" class="form-label">Aluno(a)</label>
                        <select class="form-select" id="aluno" name="aluno" aria-label="Selecionar Aluno(a)">
                            {% for aluno in alunos %}
                            <option value="{{ aluno.0 }}">{{ aluno.1 }}</option>
                            {% endfor %}
                        </select><br><br>

                        <label for="data" class="form-label">Data da Visita</label>
                        <input type="date" class="form-control" id="data" name="data" required><br><br>

                        <label for="objetivo" class="form-label">Objetivo da Visita</label>
                        <input type="text" class="form-control" id="objetivo" name="objetivo" required><br><br>

                        <label for="profissionais" class="form-label">Profissionais que realizaram a Visita</label>
                        <input type="text" class="form-control" id="profissionais" name="profissionais" required><br><br>

                        <label for="familia" class="form-label">Contexto familiar</label>
                        <input type="text" class="form-control" id="familia" name="familia" required><br><br>

                        <label for="relato" class="form-label">Relato sobre a Visita</label>
                        <input type="text" class="form-control" id="relato" name="relato" required><br><br>

                        <label for="conclusao" class="form-label">Conclusões sobre a Visita</label>
                        <input type="text" class="form-control" id="conclusao" name="conclusao" required><br><br>

                        <div class="form-buttons">
                            <button class="cancel-button" type="submit">Salvar</button>
                            <label for="modal-toggle" class="cancel-button">Cancelar</label>
                        </div>
                    </form>
                </div>
            </div>
            <label for="modal-toggle" class="modal-button">Registrar Visita</label>
        </div>

        <div class="container">
            <div class="row">
                <div class="col md-12">
                    {% if visita %}
                    <table class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Nº</th>
                                <th scope="col">Aluno(a)</th>
                                <th scope="col">Data</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        {% for row in visita %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ row[0] }}</th>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2].strftime('%d/%m/%Y') }}</td>
                                <td>
                                    <a href="{{ url_for('visita.pagina_visita', _id=row.0) }}"
                                        class="btn btn-success btn-sm">Abrir</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        {% else %}
                        <p>Nenhuma visita registrada.</p>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

</html>